  <div class="aboutus" id="aboutus">
    <h2 class="title" style="opacity: 1; transition: all 0.2s ease 0.2s;"><span>会社概要</span></h2>
    <article class="">
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>会社名</dt>
                <dd>株式会社エルコイン</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>代表者</dt>
                <dd>代表取締役社長　鎌形渉</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>設立</dt>
                <dd>2017年12月1日</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>事業内容</dt>
                <dd>電子通貨プラットフォーム事業</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>住所</dt>
                <dd>
                    <p>本社<br>〒107-0052 東京都港区赤坂2-9-11 オリックス赤坂2丁目ビル10F</p>
                </dd>
            </dl>
    </article>
  </div>

<hr>
